**/tcl
**/tmp
**/src/distfiles
**/src/tools
**/src/build_c
**/tkabber
**/tkabber-plugins
/autom4te.cache
/aclocal.m4
/compile
/depcomp
/stamp-h1
/config.log
/config.status
Makefile
src/defs/defs.mak
src/defs/shared.mak
src/defs/common.mak
info-after-en.txt
info-after-ru.txt
