**/tcl
**/tmp
**/src/distfiles
**/src/tools
**/src/build_c
**/tkabber
**/tkabber-plugins
/autom4te.cache
/aclocal.m4
/compile
/depcomp
/install-sh
/missing
/stamp-h1
/config.log
/config.status
Makefile
info-after-en.txt
info-after-ru.txt
